<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/about.css">
    <title>About</title>
</head>
<body>
    <h1><u>Leonel Messi</u></h1>
    <br><br>
    <p><b>
        Lionel Andrés Messi (alias Leo, Lio, La Pulga, La Pulga Atómica, El Mesías) nació el 24 de junio de 1987 en la ciudad argentina de Rosario. Se crió junto a tres hermanos en un barrio obrero llamado General Las Heras. A los 5 años de edad, empezó a jugar en el Grandoli, un pequeño club de barrio en el que su familia estaba muy involucrada. Al cumplir 8, Leo ya estaba jugando para las categorías inferiores de Newell’s Old Boys, un importante club profesional de Rosario.

        Visiblemente más chico que la mayoría de los niños de su edad, a Lionel Messi le terminaron por diagnosticar una deficiencia de la hormona de crecimiento. Su padre acudió sin éxito a distintos clubs de fútbol de Argentina buscando que le financiaran el costoso tratamiento, lo que casi hizo peligrar la promisoria carrera que vislumbraba para Leo.
        </b>
    </p>

    <br><br><img src = "images/Messi-pequeno.jpg" >
    
</body>
</html>