<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Lab Express</title>
</head>
<body>
    <h1> Welcome visitor</h1>
    

    <div id= "logo">
            
            <img class= "logo1" src = "images/logo_barca1.png" >
            <img class= "logoimagen" src = "images/messi.jpg" >
            <img class= "logo2" src = "images/logo_barca1.png" >
    </div>

    <p> <b></b>Leonel Messi</b> </p>
    <div>
        <a href="about" id= "About">About</a>
        <a href="works" id= "Works">Trophies and Teams</a>

    </div>

    
</body>
</html>