<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/works.css">
    <title>Works</title>
</head>
<body>
    <h1><u>Trophies and Teams</u></h1>
    <br><br>
    <body2>
        <div>
        <p><b>Thropies: </b>
        
            <ul>
                <li>10 Ligas</li>
                <li>8 Supercopas de España</li>
                <li>7 Copas del Rey</li>
                <li>4 Champions League</li>
                <li>3 Mundiales de Clubes</li>
                <li>3 Supercopas de Europa</li>
                <li>1 Copa América</li>
            </ul>

        <br><br><br><br>
        </p>
        </div>
        <p><b>Teams: </b>

            <ul>
                <li>Barcelona 2005-2021</li>
                <li>Paris Saint Germain 2021-Actual</li>

            </ul>

        
        
        </p>

    </body2>



    


    
</body>
</html>